extends ../_layout.pug

block header
  div.contents
    div.ipAdress(align='right') No IP Adress
    div(style='color: #fff')
      ul#content(style='list-style:none;font-size: 100px;')
        li 番号 - 時刻
    input.btn.btn-primary(type='button' value='接続解除' onclick='load("index/index.html")')
