extends ../_layout.pug

block header
  input(type='button' value='戻る' onclick='load("index/index.html")')
  div(style='color: #fff')
    ul#content(style='list-style:none;font-size: 120px;')
      li 番号 - 時刻
