include ../_header.pug
  include modals/_input-port-modal.pug
  div.contents
    ul(align='right')
      li(style="display:inline")
        span Status: 
        span.serverStatus(style="color:rgb(255, 0, 0)") Closed
      li(style="display:inline")
        div.IPAdress(align='right' style="display:inline") | IP: No IP Adress
      li(style="display:inline")
        div.serverPort(align='right' style="display:inline") | Port: No Port        
    table#table.table.table-hover(style="font-size:50px;")
      thead
        tr
          th 番号
          th 残り時間
          
    input.btn.btn-danger.btn-temp(type='button' value='接続解除' onclick='load("index/index.html")')
