div.modal.sendCompModal(tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static")
  div.modal-dialog
    div.modal-content
      div.modal-body(style="background:rgb(0,0,0);")
        center.recipient 予期しないエラーが発生しました。
