div.modal.inputIPModal(tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static")
  div.modal-dialog
    div.modal-content(style="background:rgb(0,0,0);")
      div.modal-body
        div.input-group
          span.input-group-addon IPアドレス
          input.IPAdress.form-control(type='text' style='width:20px;')
        br
        div.input-group
          span.input-group-addon ポート番号
          input.serverPort.form-control(type='text' style='width:10px;')
        //- input.IPAdress(type='text' style='width:120px;')
        //- span ：
        //- input.serverPort(type='text' style='width:50px;')
        div(align='right')
          input.btn.btn-success.modal-footer-btn(type='button' value="接続" onclick='activate();')
          input.btn.btn-primary.modal-footer-btn(type='button' value="戻る" onclick='load("index/index.html");')
