include ../_header.pug
  img.quit(src='../../asset/images/off.png' onclick="quit()")
  ul.content-center#content
    center
      li
        input.select-button.btn.btn-outline-primary(type='button' value='管理者画面' onclick='load("admin/index.html")')
      li.select-button
        input.select-button.btn.btn-outline-success(type='button' value='クライアント画面' onclick='load("client/index.html")')
