extends ../_layout.pug

block header
  ul.content-center#content
    center
      li
        input.select-button(type='button' value='管理者画面')
      li.select-button
        input.select-button(type='button' value='クライアント画面' onclick='load("client/index.html")')
