html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='../../asset/css/bundle.css')
    script(src='../../asset/javascript/dependencies.js')
    
    script.
      var script = document.createElement('script');
      script.src = '../../asset/bundles/'+router.cur_view()+'.js';
      document.head.appendChild(script);
      
    script(src='../../asset/javascript/modules/popper/popper.min.js')
    script(src='../../asset/javascript/modules/bootstrap/bootstrap.min.js')
    
    body(style='background: rgb(40, 44, 52)')
