div.modal.inputLoginPortModal(tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static")
  div.modal-dialog
    div.modal-content(style="background:rgb(0,0,0);")
      div.modal-body
        div.input-group
          span.input-group-addon ポート番号
          input.form-control.loginPort(type='text' style='width:120px;')
        div(align='right')
          input.btn.btn-primary.modal-footer-btn.btn-temp(type='button' value="接続" onclick='openServer($(".loginPort")[0].textContent)')
          input.btn.btn-secondary.modal-footer-btn.btn-temp(type='button' value="戻る" onclick='load("index/index.html");')
        
