include ../_header.pug
  include modals/_input-ip-modal.pug
  include modals/_accept-send-modal.pug
  div.contents
    p タスク:
    select.task
      option 追加
      option 削除
    br
    br
    p 番号:
    input.customer-number(type='text')
    br
    br
    input.btn.btn-success(type='button' value='送信' onclick='send();')
    input.btn.btn-primary(type='button' value='接続解除' onclick='disconnect();load("index/index.html");')
