extends ../_layout.pug

block header
  input(type='button' value='戻る' onclick='load("index/index.html")')
  p タスク
  select.task
    option 追加
    option 削除
  p 番号:
  input.customer-number(type='text')
  br
  input(type='button' value='送信' onclick='send()')
