html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

ul#content{
  list-style: none;
}

.content-center{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  width: 50%;
  height: 18px;
}

.select-button{
  display: inline-block;
  padding: 25px;
}

div.contents{
  padding: 10px;
}

.modal{
  width: 33%;
  height:15%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
